<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DükkanPilot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/business.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="business-body">
    <div class="business-wrapper d-flex">
        <partial name="_Sidebar" />

        <div class="business-content flex-grow-1 d-flex flex-column">
            <partial name="_Navbar" />

            <main class="business-main flex-grow-1 p-4">
                <partial name="_Alert" />
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
